<div class="container loading-page">
  <div class="row">
    <div class="col-md-offset-5 col-md-3">
      <form (submit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div class="form-login">
          <h4>Welcome back.</h4>
          <input id="userName" class="form-control input-sm chat-input" placeholder="username" [(ngModel)]="model.username" name="username"/>
          <input id="password" class="form-control input-sm chat-input" placeholder="password" [(ngModel)]="model.password" name="password"/>
          <button class="btn btn-success">Login</button>
        </div>
      </form>
      <p-dialog class="ui-shadow" [visible]="visibleModal" [responsive]="false" [draggable]="false" [resizable]="false" [modal]="true" [closeOnEscape]="false" [closable]="false" [minWidth]="0" [minHeight]="0">
        <img style="max-width: 100%" src="../../assets/images/loading_2.gif"/>
      </p-dialog>
    </div>
  </div>
</div>
