.ui-widget-overlay {
  background-color: #666666;
  opacity: .20;
}
.ui-dialog .ui-dialog-titlebar {
  padding: 0;

}
.ui-dialog .ui-dialog-content {
  padding: 0;
}
.view-blocker .ui-shadow {
  box-shadow: none;
}
